strong.product-name {
    font-size: 17px;
}

a.product-name {
    font-size: 14px;
}

button.remove-product {
    color: indianred;
}

    button.remove-product:hover {
        color: red;
    }

.accordion-button {
    background-color: #e1e4eb;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
