@{
    ViewData["Title"] = "افزودن سفارش جدید";
}

<div class="row">
    <div class="col-xxl-10 col-xl-9 col-md-8">
        <div class="card">
            <h5 class="p-3">
                جزئیات سفارش شماره 1
            </h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-6 row col-form-label">
                        <div class="col-xxl-3 col-4 d-flex align-items-center">
                            <label class="form-label">تاریخ ایجاد:</label>
                        </div>
                        <div class="col-8 d-flex align-items-center">
                            <input class="form-control text-center" type="text" />
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-5 d-flex align-items-center">
                        <input type="time" class="form-control" />
                    </div>
                </div>
                <h6 class="text-secondary mt-2">اطلاعات مشتری</h6>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">نام</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">نام خانوادگی</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-6 mt-1">
                        <label class="form-label">استان</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-6 mt-1">
                        <label class="form-label">شهر</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-9 mt-1">
                        <label class="form-label">آدرس</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-3 mt-1">
                        <label class="form-label">کدپستی</label>
                        <input type="text" class="form-control text-center" maxlength="10" />
                    </div>
                    <div class="col-md-6 mt-1">
                        <label class="form-label">ایمیل</label>
                        <input type="text" class="form-control text-center" />
                    </div>
                    <div class="col-md-6 mt-1">
                        <label class="form-label">شماره تماس</label>
                        <input type="text" class="form-control text-center" />
                    </div>
                    <div class="col-md-6 mt-1">
                        <label class="form-label">روش پرداخت</label>
                        <input type="text" class="form-control text-center" />
                    </div>
                    <div class="col-md-6 mt-1">
                        <label class="form-label">کدرهگیری پرداخت</label>
                        <input type="text" class="form-control text-center" />
                    </div>
                    <div class="col-md-12 mt-1">
                        <label class="form-label">یادداشت مشتری</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xl-6">
                        آیتم های سفارش
                    </div>
                </div>
            </div>
            <div class="card-body px-0 px-xxl-3">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="col">آیتم</th>
                            <th scope="col" class="text-center">مبلغ (تومان)</th>
                            <th scope="col" class="text-center">تعداد</th>
                            <th scope="col" class="text-center">مجموع (تومان)</th>
                        </tr>
                    </thead>
                    <tbody style="border-bottom:2px solid #dfdfdf;">
                        <tr>
                            <td class="ps-3 py-3 align-middle">
                                <a href="#">گوشی موبایل سامسونگ Galaxy A7 32G 8G Ram</a>
                                <br />
                                <strong>شناسه محصول :</strong> 123456789
                                <br />
                                <strong>رنگ :</strong> آبی
                            </td>
                            <td class="text-center py-3 align-middle">32,500,659 تومان</td>
                            <td class="text-center py-3 align-middle">x1</td>
                            <td class="text-center py-3 align-middle">32,500,659 تومان</td>
                        </tr>
                    </tbody>
                    <tbody style="border-top:10px solid #f8f8f8;">
                        <tr>
                            <td class="ps-3 py-4 align-middle fw-bold">پست پیشتاز</td>
                            <td class="py-4"></td>
                            <td></td>
                            <td class="text-center py-4 align-middle">32,500,659 تومان</td>
                        </tr>
                    </tbody>
                </table>
                <div class="bg-light py-3" style="overflow:hidden;">
                    <table class="float-end col-lg-5">
                        <tbody>
                            <tr>
                                <td class="py-1 align-middle text-end">جمع محصولات :</td>
                                <td class="text-center pe-3 py-1 align-middle">32,500,659 تومان</td>
                            </tr>
                            <tr>
                                <td class="py-1 align-middle text-end">هزینه ارسال :</td>
                                <td class="text-center pe-3 py-1 align-middle">2,500,659 تومان</td>
                            </tr>
                            <tr>
                                <td class="pb-3 py-1 align-middle text-end">جمع کل :</td>
                                <td class="text-center pe-3 pb-3 py-1 align-middle">34,500,659 تومان</td>
                            </tr>
                            <tr style="border-top: 1px solid #999;">
                                <td class="py-1 pt-3 align-middle text-end">
                                    پرداخت شده :
                                    <br />
                                    <span class="text-body-secondary fw-light">دوشنبه 11 تیر 1403 (درگاه پرداخت زرین پال)</span>
                                </td>
                                <td class="text-center pe-3 pt-3 py-1 align-middle">34,500,659 تومان</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-md-4 ps-0">
        <div class="card">
            <div class="card-header">
                وضعیت
            </div>
            <div class="card-body">
                <select class="form-select">
                    <option>انتخاب وضعیت</option>
                </select>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-danger text-end" href="#">حذف</button>
                <button class="btn btn-primary" href="#">بروزرسانی</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                یادداشت های سفارش
            </div>
            <div class="card-body">
                <div class="bg-light rounded mb-2" style="min-height:8rem;">
                </div>
                <label class="form-label">افزودن یادداشت</label>
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>