@{
    ViewData["Title"] = "سفارش ها";
}

@section Styles{
    <style>
        td, th {
            text-align: center !important;
        }
    </style>
}

<a asp-area="Admin" asp-controller="Orders" asp-action="AddOrder" class="btn btn-primary mb-3">سفارش جدید</a>

<div class="card">
    <div class="card-body">
        <table class="table table-striped bg-white border b-rounded">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="form-check-input"/>
                    </th>
                    <th class="text-start">
                        سفارش
                    </th>
                    <th>
                        تاریخ
                    </th>
                    <th>
                        وضعیت
                    </th>
                    <th>
                        مبلغ کل
                    </th>
                    <th>
                        استان مقصد
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input" />
                    </td>
                    <td class="text-start">
                        <a href="#">
                            #35346 علی جبالی
                        </a>
                    </td>
                    <td>1402-03-06</td>
                    <td>
                        <span class="badge bg-label-primary">در حال انجام</span>
                    </td>
                    <td>32,526,000 تومان</td>
                    <td>تهران</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/admin-pages/orders/orders.js" asp-append-version="true"></script>
}