@{
    ViewData["Title"] = "سفارش ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-area="Admin" asp-controller="Orders" asp-action="AddOrder" class="btn btn-primary mb-3">سفارش جدید</a>

<div class="card">
    <div class="card-body">
        <table class="table table-striped bg-white border b-rounded">
            <thead>
                <tr>
                    <th class="text-center">
                        سفارش
                    </th>
                    <th class="text-center">
                        تاریخ
                    </th>
                    <th class="text-center">
                        وضعیت
                    </th>
                    <th class="text-center">
                        مبلغ کل
                    </th>
                    <th class="text-center">
                        استان مقصد
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">#35346 علی جبالی</td>
                    <td class="text-center">1402-03-06</td>
                    <td class="text-center">
                        <span class="badge bg-label-primary">در حال انجام</span>
                    </td>
                    <td class="text-center">32,526,000 تومان</td>
                    <td class="text-center">تهران</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>