@model ProductAttributeValueViewModel
@{
    ViewData["Title"] = Model.Attribute.Name + " ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="Attribute.Id" />
                    <input type="hidden" id="attributeValueId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AttributeValue.Name" class="control-label">نام</label>
                        <input asp-for="AttributeValue.Name" class="form-control" />
                        <span asp-validation-for="AttributeValue.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AttributeValue.value" class="control-label">مقدار</label>
                        <input asp-for="AttributeValue.value" class="form-control" />
                        <span asp-validation-for="AttributeValue.value" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3">
                        <input type="button" value="افزودن" id="addNewAttributeValue" class="btn btn-primary" />
                        <input type="button" value="انصراف" id="cancellEditAttributeValue" onclick="changeEditAttributeValue(this.id)" class="btn btn-danger d-none" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <partial name="~/Views/Products/_ProductAttributeValuePartial.cshtml" model="Model" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById('addNewAttributeValue').addEventListener('click', function (event) {
            event.preventDefault();
            submitForm();
        });

        function submitForm() {
            if (document.getElementById('addNewAttributeValue').value == 'افزودن') {
                var attributeName = $('#AttributeValue_Name').val();
                var attributeValue = $('#AttributeValue_value').val();
                var attributeId = $('#Attribute_Id').val();

                $.ajax({
                    url: '/Products/AddAttributeValue',
                    method: 'POST',
                    data: { ValueName: attributeName, ValueLink: attributeValue, id: attributeId },
                    success: function (partial) {
                        $('#table-data').html(partial);
                        $('#AttributeValue_Name').val('');
                        $('#AttributeValue_value').val('');
                    }
                });
            }
            else if (document.getElementById('addNewAttributeValue').value == 'ویرایش') {
                var attributeName = $('#AttributeValue_Name').val();
                var attributeValue = $('#AttributeValue_value').val();
                var attributeId = $('#Attribute_Id').val();
                var attributeValueId = $('#attributeValueId').val();

                $.ajax({
                    url: '/Products/UpdateAttributeValue',
                    method: 'POST',
                    data: { name: attributeName, value: attributeValue, id: attributeValueId, attributeId: attributeId },
                    success: function (partial) {
                        $('#table-data').html(partial);
                        $('#addNewAttributeValue').val('افزودن');
                        $('#cancellEditAttributeValue').addClass('d-none');
                        $('#AttributeValue_Name').val('');
                        $('#AttributeValue_value').val('');
                    }
                });
            }
        }

        function changeEditAttributeValue(id, itemId) {
            if (id == 'editAttributeValueButton') {
                $.ajax({
                    url: '/Products/GetAttributeValue?attributeId=' + itemId,
                    method: 'GET',
                    success: function (data) {
                        $('#AttributeValue_Name').val(data.attributeValue.name);
                        $('#AttributeValue_value').val(data.attributeValue.value);
                    }
                });
                $('#addNewAttributeValue').val('ویرایش');
                $('#cancellEditAttributeValue').removeClass('d-none');
                $('#attributeValueId').val(itemId);
            }
            else if (id == 'cancellEditAttributeValue') {
                $('#AttributeValue_Name').val('');
                $('#AttributeValue_value').val('');
                $('#addNewAttributeValue').val('افزودن');
                $('#cancellEditAttributeValue').addClass('d-none');
            }
        }

        function removeAttributeValue(valueId) {
            $.ajax({
                url: '/Products/RemoveAttributeValue',
                method: 'POST',
                data: {
                    attributeValueId: valueId, attributeId: $('#Attribute_Id').val()
                },
                success: function (partial) {
                    $('#table-data').html(partial);
                }
            });
        }
    </script>
}