@{
    ViewData["Title"] = "درباره ما";
}
<!-- about----------------------------------->
<div class="container-main">
    <div class="col-12">
        <div id="content">
            <div class="about bg-secondary pb-0">
                <div class="about-us-head">
                    <div class="about-us-head-inner">
                        <h2>فروشگاه جامع لوازم یدکی تویوتا و لکسوس ونجانی</h2>
                        <div class="about-us-head-content mt-4 text-right">
                            <p>
                                فروشگاه ما با دارا بودن تمامی لوازم و قطعات مورد نیاز خودروها با برندهای تویوتا و لکسوس در تهران در طی سال‌ها فعالیت مداوم، مورد توجه بسیاری از شما قرار گرفته است. به دلیل تقاضای زیاد ارسال به دیگر نقاط کشور و همچنین ارائه خدمات و محصولات خود به سایر شهرها، تصمیم بر راه‌اندازی فروشگاه به صورت آنلاین گرفتیم.
                            </p>
                            <p>
                                فروشگاه ونجانی با سابقه طولانی مدت در ارائه خدمات و محصولات به شما عزیزان، این بار اقدام به توزیع لوازم یدکی و قطعات خودروهای Lexus و Toyota در سراسر ایران کرده است. با استفاده از این امکان، هرکجای ایران که سکونت داشته باشید، می‌توانید قطعه یا قطعات مورد نظر خود را از فروشگاهی مطمئن با قیمت‌های روز و منصفانه خریداری نمایید و در اسرع وقت درب منزل دریافت نمایید.
                            </p>
                            <p>
                                برای بیشتر شدن اطمینان شما عزیزان، تمامی محصولات موجود در سایت با 7 روز ضمانت بازگشت کالا (درصورت باز نشدن) و همچنین ضمانت اصالت به فروش می‌رسد. لازم به ذکر است که کالاهای برقی جزء این قانون نبوده و درصورت ارسال به هیچ عنوان مرجوع نخواهد شد.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about----------------------------------->