<div class="pagetitle">
    <h1>مدیریت روش های ارسال</h1>
</div>

<div class="row">
    <div class="col-6">
        <div class="card mt-4">
            <div class="card-body row">
                <div class="col-8">
                    پیک موتوری (شهر تهران)
                </div>
                <div class="col-2 form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0)" class="pe-3">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mt-4">
            <div class="card-body row">
                <div class="col-8">
                    پست پیشتاز
                </div>
                <div class="col-2 form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0)" class="pe-3">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mt-2">
            <div class="card-body row">
                <div class="col-8">
                    تیپاکس (پس کرایه)
                </div>
                <div class="col-2 form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0)" class="pe-3">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mt-2">
            <div class="card-body row">
                <div class="col-8">
                    چاپار (پس کرایه)
                </div>
                <div class="col-2 form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0)" class="pe-3">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mt-2">
            <div class="card-body row">
                <div class="col-8">
                    باربری (هماهنگی تلفنی)
                </div>
                <div class="col-2 form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0)" class="pe-3">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mt-2">
            <div class="card-body row">
                <div class="col-8">
                    تحویل حضوری
                </div>
                <div class="col-2 form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0)" class="pe-3">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
