<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] -  فست کالا</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/css/shop/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/shop/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/css/shop/bootstrap.css">
    <link rel="stylesheet" href="~/css/shop/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/shop/noUISlider.min.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>

    <!-- login----------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <section class="page-account-box">
                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                        <div class="ds-userlogin">
                            <a href="/" class="account-box-logo">FastKala</a>
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- login----------------------------------->

</body>
<!-- file js---------------------------------------------------->
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- plugin----------------------------------------------------->
<script src="~/js/vendor/owl.carousel.min.js"></script>
<script src="~/js/vendor/jquery.countdown.js"></script>
<script src="~/js/vendor/ResizeSensor.min.js"></script>
<script src="~/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="~/js/vendor/wNumb.js"></script>
<script src="~/js/vendor/nouislider.min.js"></script>
<!-- main js---------------------------------------------------->
<script src="~/js/main.js"></script>
<partial name="_ValidationScriptsPartial" />
</html>