@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/css/shop/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/shop/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/css/shop/bootstrap.css">
    <link rel="stylesheet" href="~/css/shop/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/shop/noUISlider.min.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>

    <!-- login----------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <section class="page-account-box">
                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                        <div class="ds-userlogin">
                            <a href="/" class="account-box-logo">FastKala</a>
                            <div class="account-box">
                                <div class="account-box-headline">
                                    <a asp-controller="Account" asp-action="Login" class="login-ds">
                                        <span class="title">ورود</span>
                                        <span class="sub-title">به فست کالا</span>
                                    </a>
                                    <a asp-controller="Account" asp-action="Register" class="register-ds active">
                                        <span class="title">ثبت نام</span>
                                        <span class="sub-title">در فست کالا</span>
                                    </a>
                                </div>
                                <div class="Login-to-account mt-4">
                                    <div class="account-box-content">
                                        <h4>ثبت نام در فست کالا</h4>
                                        <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-0 pb-0"></div>
                                        <form method="post" class="form-account text-right">
                                            <div class="form-account-title">
                                                <label asp-for="Email">ایمیل / شماره موبایل</label>
                                                <input type="email" asp-for="Email" class="number-email-input">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-account-title">
                                                <label asp-for="Password">رمز عبور</label>
                                                <input type="password" asp-for="Password" class="password-input">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-auth-row">
                                                <label class="ui-checkbox mt-1">
                                                    <input type="checkbox" asp-for="RememberMe">
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label asp-for="RememberMe" class="remember-me mr-0"><a href="#">حریم خصوصی</a> و <a href="#">شرایط قوانین </a>استفاده از سرویس های سایت فست کالا را مطالعه نموده و با کلیه موارد آن موافقم.</label>
                                            </div>
                                            <div class="form-row-account">
                                                <button class="btn btn-primary btn-register">ثبت نام در فست کالا</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- login----------------------------------->

</body>
<!-- file js---------------------------------------------------->
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/vendor/bootstrap.js"></script>
<!-- plugin----------------------------------------------------->
<script src="~/js/vendor/owl.carousel.min.js"></script>
<script src="~/js/vendor/jquery.countdown.js"></script>
<script src="~/js/vendor/ResizeSensor.min.js"></script>
<script src="~/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="~/js/vendor/wNumb.js"></script>
<script src="~/js/vendor/nouislider.min.js"></script>
<!-- main js---------------------------------------------------->
<script src="~/js/main.js"></script>
</html>