@model ProductTagsViewModel

@foreach (var item in Model.ProductTags)
{
    <tr>
        <td>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            <br>
            <form method="post" class="d-inline">
                <a href="#" onclick="changeEditTag(this.id,@item.Id)" id="editTagButton">ویرایش</a> |
                <button asp-route-id="@item.Id" asp-action="RemoveTag" asp-controller="Products" class="btn p-0 text-decoration-none remove-product">حذف</button>
            </form>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
    </tr>
}