@using FastKala.Domain.Enums.Products
@model ProductAtrributesListViewModel
@{
    ViewData["Title"] = "ویژگی محصولات";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form method="post" id="addAtrrForm">
                    <input type="hidden" id="attributeId" />
                    <div class="form-group">
                        <label class="control-label" for="attribute-name">نام ویژگی</label>
                        <input class="form-control" id="attribute-name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="attribute-link">لینک</label>
                        <input class="form-control" id="attribute-link" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="attribute-type">نوع ویژگی</label>
                        <select class="form-select" id="attribute-type" asp-items="@Html.GetEnumSelectList<AttributeType>()">
                        </select>
                    </div>
                    <div class="form-group my-3">
                        <input id="addNewAttribute" type="button" value="افزودن ویژگی" class="btn btn-primary" />
                        <input type="button" value="انصراف" id="cancellEditAttribute" onclick="changeEditAttribute(this.id)" class="btn btn-danger d-none" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped bg-white border b-rounded">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductAttributes[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductAttributes[0].Link)
                            </th>
                            <th>
                                پیکربندی
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-data">
                        <partial name="~/Areas/Admin/Views/Products/_ProductAttributePartial.cshtml" model="Model" />
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/admin-pages/products/attributes.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}