@model ProductAttributeValueViewModel
@{
    ViewData["Title"] = Model.Attribute.Name + " ها";
}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="Attribute.Id" />
                    <input type="hidden" id="attributeValueId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AttributeValue.Name" class="control-label">نام</label>
                        <input asp-for="AttributeValue.Name" class="form-control" />
                        <span asp-validation-for="AttributeValue.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AttributeValue.value" class="control-label">مقدار</label>
                        <input asp-for="AttributeValue.value" class="form-control" />
                        <span asp-validation-for="AttributeValue.value" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3">
                        <input type="button" value="افزودن" id="addNewAttributeValue" class="btn btn-primary" />
                        <input type="button" value="انصراف" id="cancellEditAttributeValue" onclick="changeEditAttributeValue(this.id)" class="btn btn-danger d-none" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <partial name="~/Areas/Admin/Views/Products/_ProductAttributeValuePartial.cshtml" model="Model" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin-pages/products/attributevalues.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}