@model ProductBrandsViewModel
@{
    ViewData["Title"] = "برند محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <input type="hidden" id="brand-id" />
                    <div class="form-group mb-2">
                        <label class="control-label" asp-for="Brand.Name">برند</label>
                        <input class="form-control" asp-for="Brand.Name" />
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label" asp-for="Brand.Link">لینک</label>
                        <input class="form-control" asp-for="Brand.Link" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="Brand.Description">توضیحات</label>
                        <textarea class="CategoryDescription" asp-for="Brand.Description" style="height:450px;"></textarea>
                    </div>
                    <div class="form-group my-3">
                        <input id="addNewBrand" type="button" value="افزودن برند" class="btn btn-primary" />
                        <input type="button" value="انصراف" id="cancellEditBrand" onclick="changeEditBrand(this.id)" class="btn btn-danger d-none" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped bg-white border b-rounded">
                    <thead>
                        <tr>
                            <th>
                                عکس
                            </th>
                            <th>
                                برند
                            </th>
                            <th>
                                لینک
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-data">
                        @if (Model.Brands.Count > 0)
                        {
                            <partial name="~/Areas/Admin/Views/Products/_BrandsPartial.cshtml" model="Model" />
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section tinymce {
    <script src="~/lib/tinymce/tinymce.min.js"></script>
}

@section Scripts {

    <script>
        document.getElementById('addNewBrand').addEventListener('click', function (event) {
            event.preventDefault();
            submitForm();
        });

        function submitForm() {
            tinyMCE.triggerSave();
            var brandName = $('#Brand_Name').val();
            var brandLink = $('#Brand_Link').val();
            var brandDescription = $('#Brand_Description').val();
            if (document.getElementById('addNewBrand').value == 'افزودن برند') {
                $.ajax({
                    url: '/Admin/Products/CreateBrand',
                    method: 'POST',
                    data: { name: brandName, link: brandLink, description: brandDescription },
                    success: function (partial) {
                        $('#table-data').html(partial);
                        $('#Brand_Name').val('');
                        $('#Brand_Link').val('');
                        tinyMCE.activeEditor.setContent('');
                    }
                });
            }
            else if (document.getElementById('addNewBrand').value == 'ویرایش برند') {
                $.ajax({
                    url: '/Admin/Products/UpdateBrand',
                    method: 'POST',
                    data: {
                        id: $('#brand-id').val(), name: brandName, link: brandLink, description: brandDescription
                    },
                    success: function (partial) {
                        $('#table-data').html(partial);
                        $('#Brand_Name').val('');
                        $('#Brand_Link').val('');
                        tinyMCE.activeEditor.setContent('');
                        $('#brand-id').val('');
                        $('#addNewBrand').val('افزودن برند');
                        $('#cancellEditBrand').addClass('d-none');
                    }
                });
            }
        }

        function changeEditBrand(id, itemId) {
            if (id == 'editBrandButton') {
                $.ajax({
                    url: '/Admin/Products/GetBrand',
                    method: 'POST',
                    data: { brandId: itemId },
                    success: function (data) {
                        $('#Brand_Name').val(data.brand.name);
                        $('#Brand_Link').val(data.brand.link);
                        tinymce.activeEditor.setContent(data.brand.description);
                    }
                });
                $('#brand-id').val(itemId);
                $('#addNewBrand').val('ویرایش برند');
                $('#cancellEditBrand').removeClass('d-none');
            }
            else if (id == 'cancellEditBrand') {
                $('#Brand_Name').val('');
                $('#Brand_Link').val('');
                tinyMCE.activeEditor.setContent('');
                $('#addNewBrand').val('افزودن برند');
                $('#cancellEditBrand').addClass('d-none');
            }
        }
    </script>
}