@model ProductCategoriesViewModel
@{
    ViewData["Title"] = "دسته بندی محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <input type="hidden" id="category-id" />
                    <div class="form-group mb-2">
                        <label class="control-label" asp-for="Category.Name">نام دسته‌بندی</label>
                        <input class="form-control" asp-for="Category.Name" />
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label" asp-for="Category.Link">لینک</label>
                        <input class="form-control" asp-for="Category.Link" />
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label" asp-for="Category.ParentId">دسته‌بندی مادر</label>
                        <select class="form-control" asp-for="Category.ParentId">
                            <option value="0" selected>دسته بندی اصلی</option>
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="Category.Description">توضیحات</label>
                        <textarea class="CategoryDescription" asp-for="Category.Description" style="height:450px;"></textarea>
                    </div>
                    <div class="form-group my-3">
                        <input id="addNewCategory" type="button" value="افزودن دسته بندی" class="btn btn-primary" />
                        <input type="button" value="انصراف" id="cancellEditCategory" onclick="changeEditCategory(this.id)" class="btn btn-danger d-none" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped bg-white border b-rounded">
                    <thead>
                        <tr>
                            <th>
                                عکس
                            </th>
                            <th>
                                نام دسته بندی
                            </th>
                            <th>
                                لینک
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-data">
                        @if (Model.Categories.Count > 0)
                        {
                            <partial name="~/Views/Products/_CategoriesPartial.cshtml" model="Model" />
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section tinymce {
    <script src="~/lib/tinymce/tinymce.min.js"></script>
}

@section Scripts {

    <script>

        function loadParentCategories() {
            $('#Category_ParentId').html('');
            var opt = document.createElement('option');
            opt.value = 0;
            opt.innerHTML = 'دسته بندی اصلی';
            $('#Category_ParentId').append(opt);
            $.ajax({
                url: '/Products/GetCategories',
                method: 'Get',
                success: function (data) {
                    for (var i = 0; i < data.categories.length; i++) {
                        var opt = document.createElement('option');
                        opt.value = data.categories[i].id;
                        opt.innerHTML = data.categories[i].name;
                        $('#Category_ParentId').append(opt);
                    }
                }
            });
        }

        document.getElementById('addNewCategory').addEventListener('click', function (event) {
            event.preventDefault();
            submitForm();
        });

        function submitForm() {
            tinyMCE.triggerSave();
            var categoryName = $('#Category_Name').val();
            var categoryLink = $('#Category_Link').val();
            var categoryDescription = $('#Category_Description').val();
            var categoryParentId = $('#Category_ParentId').val();
            if (document.getElementById('addNewCategory').value == 'افزودن دسته بندی') {
                $.ajax({
                    url: '/Products/CreateCategory',
                    method: 'POST',
                    data: { name: categoryName, link: categoryLink, description: categoryDescription, parentId: categoryParentId },
                    success: function (partial) {
                        $('#table-data').html(partial);
                        $('#Category_Name').val('');
                        $('#Category_Link').val('');
                        $('#Category_ParentId').val(0);
                        tinyMCE.activeEditor.setContent('');
                    }
                });
                loadParentCategories();
            }
            else if (document.getElementById('addNewCategory').value == 'ویرایش دسته بندی') {
                $.ajax({
                    url: '/Products/UpdateCategory',
                    method: 'POST',
                    data: { id: $('#category-id').val(), name: categoryName, link: categoryLink, description: categoryDescription, parentId: categoryParentId
                    },
                    success: function (partial) {
                        $('#table-data').html(partial);
                        $('#Category_Name').val('');
                        $('#Category_Link').val('');
                        tinyMCE.activeEditor.setContent('');
                        $('#Category_ParentId').val('');
                        $('#category-id').val('');
                        $('#addNewCategory').val('افزودن دسته بندی');
                        $('#cancellEditCategory').addClass('d-none');
                        loadParentCategories();
                    }
                });
            }
        }

        function changeEditCategory(id, itemId) {
            if (id == 'editCategoryButton') {
                $.ajax({
                    url: '/Products/GetCategory',
                    method: 'POST',
                    data: { categoryId: itemId },
                    success: function (data) {
                        $('#Category_Name').val(data.category.name);
                        $('#Category_Link').val(data.category.link);
                        tinymce.activeEditor.setContent(data.category.description);
                        $('#Category_ParentId').val(data.category.parentId);
                    }
                });
                $('#category-id').val(itemId);
                $('#addNewCategory').val('ویرایش دسته بندی');
                $('#cancellEditCategory').removeClass('d-none');
            }
            else if (id == 'cancellEditCategory') {
                $('#Category_Name').val('');
                $('#Category_Link').val(''); 
                tinyMCE.activeEditor.setContent('');
                $('#Category_ParentId').val(0);
                $('#addNewCategory').val('افزودن دسته بندی');
                $('#cancellEditCategory').addClass('d-none');
            }
        }
    </script>
}