@model ProductTagsViewModel
@{
    ViewData["Title"] = "برچسب محصولات";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <input type="hidden" id="tag-id" />
                    <div class="form-group mb-2">
                        <label class="control-label" asp-for="ProductTag.Name">نام برچسب</label>
                        <input class="form-control" asp-for="ProductTag.Name" />
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label" asp-for="ProductTag.Link">لینک</label>
                        <input class="form-control" asp-for="ProductTag.Link" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" asp-for="ProductTag.Description">توضیحات</label>
                        <textarea class="CategoryDescription" asp-for="ProductTag.Description" style="height:450px;"></textarea>
                    </div>
                    <div class="form-group my-3">
                        <input id="addNewTag" type="button" value="افزودن برچسب" class="btn btn-primary" />
                        <input type="button" value="انصراف" id="cancellEditTag" onclick="changeEditTag(this.id)" class="btn btn-danger d-none" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped bg-white border b-rounded">
                    <thead>
                        <tr>
                            <th>
                                عکس
                            </th>
                            <th>
                                نام برچسب
                            </th>
                            <th>
                                لینک
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-data">
                        @if (Model.ProductTags.Count > 0)
                        {
                            <partial name="~/Areas/Admin/Views/Products/_TagsPartial.cshtml" model="Model" />
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_Tinymce" />
    <script src="~/js/admin-pages/products/tags.js" asp-append-version="true"></script>
}